body {
	background-image: url(../images/universe.jpg);
	background-size: cover;
}
#background {
	min-height: 500px;
}
#page {
	width: 960px;
	margin: 0 auto;
}
img {
	border: 0;
}

#navigation li, #navigation li a:hover, #navigation li.selected a {
	background-image: url(../images/bg-menu.png);
	background-repeat: repeat-x;
}
#contents div.box, #contents div.box > div, #contents div.body {
	background-image: url(../images/content-box.png);
	background-repeat: no-repeat;
}
#main div.box, #main div.box > div, #main div.box > div > div {
	background-image: url(../images/bg-box.png);
	background-repeat: no-repeat;
}

#header {
	margin-bottom: 20px;
	padding-top: 20px;
}

#navigation {
	background: url(../images/bg-navigation.png) no-repeat;
	clear: both;
	height: 50px;
	width: 830px;
	margin: 0 auto;
	padding: 1px;
}
#navigation ul {
	display: inline-block;
	width: 860px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 122px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}
#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	background-position: 0 -59px;
	color: #6d6157;
}
#navigation li.selected a {
	background-position: 0 0;
	color: #e4e1bd;
}

h1 {
	color: white;
	text-align: center;
	font-family: Papyrus, fantasy;
}

.details {
	color: white;
	font-family: Papyrus, fantasy;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.projects {
	color: white;
	font-family: Papyrus, fantasy;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    font-family: Papyrus, fantasy;
    height: 180px;
    font-size: 15px;
    font-weight: bolder;
}

.images {
	margin-left: 100px;
}

div.des {
    padding: 15px;
    text-align: center;
    color: white;
    font-family: Papyrus, fantasy;
    height: 220px;
    font-size: 15px;
    font-weight: bolder;
}

#footer {
	color: #594334;
	font-size: 14px;
	line-height: 48px;
	margin: -38px 0 20px;
	padding-top: 42px;
	text-transform: uppercase;
}
#footer > div {
	background-color: blue;
	height: 48px;
	width: 822px;
	border-bottom: 1px solid #72675f;
	border-top: 1px solid #cdbeb2;
	margin: 0 auto;
	padding: 0 20px;
	text-align: right;
}
#footer ul.navigation {
	float: left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer ul.navigation li {
	float: left;
	margin-right: 10px;
}
#footer ul.navigation li a {
	color: #594334;
	padding: 0 5px;
	text-decoration: none;
}
#footer ul.navigation li:first-child a {
	border-left: 0;
	padding-left: 0;
}
#footer ul.navigation li a:hover {
	color: #eee7c3;
}
#footer ul.navigation li.active a {
	color: #fff;
}
#footer p {
	margin: 0;
	text-align: center;
	text-transform: none;
}

